/node_modules
/lib
/coverage

# Vim temporal files.
*.swp
*.swo

# Mac Stuff.
.DS_Store

# Vistual Studio Code stuff.
/.vscode

# Cache.
/.cache
/.mypy_cache
/worker/__pycache__
/worker/.mypy_cache
/worker/mediasoup_client_aiortc.egg-info
